<a href="https://colab.research.google.com/github/Sahitya-99/Project1/blob/master/class9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for a in range (10,21):
  print(a,end=" ")

10 11 12 13 14 15 16 17 18 19 20

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
for a in range (1,8):
  print("i love python")

i love python
i love python
i love python
i love python
i love python
i love python
i love python

In [ ]:
a=[1,2,3,4,5,32,113,14]
for i in a:
  print("i love u")

i love u
i love u
i love u
i love u
i love u
i love u
i love u
i love u

In [ ]:

for i in range(5,0,-1):
  print(i)
  i = i-1
print("finished")

5
4
3
2
1
finished

In [ ]:
for i in range(0,6):
  print(i*'&', end="\n")

&
&&
&&&
&&&&
&&&&&

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
print()

In [ ]:
l=[0,20,40]
for i in l:
  sum = sum+i
  print(sum)
print(sum)

990
1010
1050
1050

In [ ]:
k=[1,2,3,4,5]
t=0
for i in k:
  t=t+i
print(t)

15

In [ ]:
#### pattern priniting
marks=[90,56,78,34,23] # >50 pass <50 fail
for i in marks:
  if (i>50):
    print(i,"candidate pass")
  else:
    print(f"{i} candidate fail")

90 candidate pass
56 candidate pass
78 candidate pass
34 candidate fail
23 candidate fail

In [ ]:
## n=5(1,)
for i in range(1,6):
  for j in range(1,i+1):
    print((5-i)*" ")

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

In [ ]:
for i in range(0,6):
  print(i*'&', end="\n")

&
&&
&&&
&&&&
&&&&&

In [ ]:
n=5
for i in range(1,5):
  print(" " *(n-i) +i *"*")

    *
   **
  ***
 ****

In [ ]:
i = 1
while i<=5:
  print(i)
  i=i+1

1
2
3
4
5

In [ ]:
c=8
while c>0:
  print(c)
  c=c-1
print("times up")

8
7
6
5
4
3
2
1
times up

In [ ]:
# Keep Asking until user types exit

#Step1: Initialize

text=""

#Step2: While Condition

while text!= "exit":
    text=input("Type Something or Press exit to quit/cancel")
    print(f" You Typed: {text}")

Type Something or Press exit to quit/cancelexit
 You Typed: exit

In [ ]:
###PATTERN
#1 right angke triangle n =4


n=4
for i in range(1,5):
  print(i*'*')

*
**
***
****

In [ ]:
n=4
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4

In [ ]:
n=4
for i in range(1,5):
  print(" "*(n-i) + i*'*')

   *
  **
 ***
****

In [ ]:
n=4
for i in range (1,n+1):
  print(pow(2,i) * "*")

**
****
********
****************

In [ ]:
n=4
for i in range(1,n+1):
  print(n * "*")

****
****
****
****

In [ ]:
n = 4
for i in range(1,n+1):
  for j in range(i):
    print(chr(65+j),end=" ")
  print()

A
A B
A B C
A B C D

In [ ]:
##1
22
33

In [ ]:
n=5
for i in range(1,n+1):
  print(str(i)*i)

1
22
333
4444
55555

In [ ]:
5
54
543
5432
54321

54321

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(j, end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
n=5
for i in range(n,0,-1):
  for j in range(0,i):
    print(j, end=" ")
  print()

0 1 2 3 4
0 1 2 3
0 1 2
0 1
0

In [ ]:
n=4
for i in range(n,0,-1):
  print(i*"*")

****
***
**
*